.DS_Store
.env

# block temporary excel files
~$*.xlsx
~$*.xls

# block temp data exports
*.RData
*.Rhistory

# block local quarto builds
site/_site/
site/.quarto/
site/data

/.quarto/
**/*.quarto_ipynb
